/*cart*/

.cartf {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    background-color: #85F4FF;
    z-index: 2;
}

.cartf h2 {
    margin-top: 20px;
}

.cartf table {
    width: 100%;
}

.cartf table thead tr th:first-child {
    text-align: left;
}

.cartf table tbody tr {
    border-bottom: 1px solid #000000;
    font-size: 10px;
}

.cartf table thead tr th:last-child {
    text-align: right;
}

.cartf table tbody tr td:last-child {
    text-align: right;
}

.cartf table tr td {
    padding: 12px 0px;
}

.cartf-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--zinc-800);
    text-wrap: nowrap;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.imgff {
    width: 70px;
}

.x {
    cursor: pointer;
    color: #000;
    text-align: right;
}


/**cart-icon**/

.cartf {
    position: fixed;
    height: 100vh;
    width: 400px;
    right: -100%;
    top: 0;
    padding: 12px 20px;
    overflow-y: scroll;
    transition: all 0.3s ease;
}

.cart-icon {
    width: 20px;
    color: white;
}


/*sp*/

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
}